  h1 {
  	  background: url('../images/LogoBB3-1000px.png') top center no-repeat !important;
  	  height: 200px;
  	  background-size: 60% !important;
  }
  h1 a {
	display: none !important;
}

h3.normal {
	font-size: 16pt;
	font-weight: bold;
	margin-top: 16pt;
	margin-bottom: 8pt;
}

code {
	font-family: 'Lucida Console',monospace !important;
}

pre.code {
	margin-top: 8pt;
	margin-bottom: 8pt;
	font-family: 'Lucida Console',monospace;
	margin-left: 20pt;
}

#wrapper p {
	margin-top: 20pt;
	margin-bottom: 20pt;
}

#wrapper ul li {
	margin-top: 10pt;
	margin-bottom: 10pt;
}