/* Ultra font for headings */
@import url('https://fonts.googleapis.com/css?family=Ultra&display=swap');

hr.ground {
	background-image: url('../img/ground.png');
	height: 100px;
	border: none;
	margin-bottom: -0px;
}

/* Text outline stolen from https://wpshout.com/quick-guides/create-text-outline-css/ */
#hero-area .contents h1 {
	font-family: 'Ultra', sans-serif;
	font-weight: normal;
	color: #d38d5f;
	text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
}

#hero-area {
	/*margin-bottom: 20pt;*/
}

body {
	background: url('../img/stripes.png');
}

figcaption {
	color: black;
}

.section.first {
	margin-top: 40pt;
}

.blog-item-text h3 {
	margin-top: 20pt;
	font-size: 150%;
}

.container h3 {
	font-size: 150%;
}

#blog .blog-item-wrapper {
	background: transparent;
}

ul.normal {
	display: block;
	margin-top: 10pt;
	margin-bottom: 10pt;
	line-height: 1.75;
}

ul.normal > li {
	
	list-style-type: disc;
	padding-left: 10pt;
	margin-left: 10pt;
}