#logo {
	background-image: url("http://liflab.github.io/beepbeep-3/images/LogoBB3-1000px.png");
	background-size: contain;
	background-repeat: no-repeat;
}

#logo h1 {
	visibility: hidden;
	/*font-size: 450%;*/
}

/* Reset element styles within the article environment */

article * {
  line-height: 1.1;
}

article ul {
  margin-top: 6pt;
  list-style-type: disc;
  padding-left: 12pt;
}

article p {
  margin-top: 12pt;
  margin-bottom: 12pt;
}

/* Put default text color back to black */
body {
	color: black;
}

pre, code {
  font-family: monospace;
  line-height: 100%;
}

table {
  width: auto;
  border-collapse: separate;
}
