html, body {
  font-family: Tahoma, sans-serif;
  margin: 0;
  padding: 0;
  
}

html {
  background: url('graph-paper-50.png');
}

#bblogo {
  margin: 10px;
  width: 300px;
  height: 100px;
  background: url('logo-1000.png') top left no-repeat;
  background-size: contain;
}

#playground {
	position: relative;
}

.processor-box {
	opacity: 0.85;
	display: block;
	position: absolute;
}

.processor-box:hover {
	opacity: 1;
}

.processor-box-input,  .processor-box-output {
	border-radius: 10px;
	width: 10px;
	height: 10px;
	margin-left: -5px;
	margin-top: -5px;
	padding: 0;
	position: absolute;
}

.processor-box-input:hover {
	background-color: green;
}

.processor-box-output:hover {
	background-color: red;
}

div.line{
  transform-origin: 0 100%;
  height: 3px; /* Line width of 3 */
  background: #000; /* Black fill */
}

.pipe-box {
	border: solid 1px black;
	position: absolute;
}

.processor-palette {
	border: solid 1px black;
	border-radius: 8px;
	background: grey;
	padding: 0px;
	padding-top: 16px;
	display: inline-block;
}

.processor-palette ul {
	background: white;
	list-style-type: none;
	padding: 4px;
	margin: 0px;
	display: inline-block;
	border-bottom-right-radius: 6px;
	border-bottom-left-radius: 6px;
}

.processor-palette ul li {
	width: 48px;
	height: 48px;
	border: solid 1px #ddd;
	border-radius: 4px;
	display: inline-block;
	margin: 4px;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

.processor-palette ul li span {
	display: none;
}